
#ignore mac only files
.DS_Store
**/.DS_Store

# pycache
*.pyc

#ignore environment and build file
.idea/
.vscode/
*.log
build/
special_effects/product/output.wav
special_effects/test_files/comparison_graphs/
/demo3/Builds
/NET - In Development/gs_dataset
/NET - In Development/gs_attack_dataset
NET - In Development/venv311/Lib/site-packages/pip-24.0.dist-info/METADATA
/NET - In Development/venv311
/NET - In Development/labels
/NET - In Development/dataset
/myenv

# Adapted from:
# https://github.com/github/gitignore/blob/master/KiCad.gitignore

# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
/build

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Footprint association file (exported from Pcbnew)
*.cmp

# Exported BOM files
*.xml
*.csv
*.tsv

# Misc
*.log
*.raw
.svg2shenzhen-cache
