
#ignore mac only files
.DS_Store
**/.DS_Store

#ignore environment and build file
.idea/
.vscode/
*.log
build/
special_effects/product/output.wav
special_effects/test_files/comparison_graphs/
/demo3/Builds
/NET - In Development/gs_dataset
/NET - In Development/gs_attack_dataset
NET - In Development/venv311/Lib/site-packages/pip-24.0.dist-info/METADATA
/NET - In Development/venv311
/NET - In Development/labels
/NET - In Development/dataset
/myenv
