
#ignore mac only files
.DS_Store
**/.DS_Store

# pycache
*.pyc

#ignore environment and build file
.idea/
.vscode/
*.log
build/
special_effects/product/output.wav
special_effects/test_files/comparison_graphs/
/demo3/Builds
/NET - In Development/gs_dataset
/NET - In Development/gs_attack_dataset
NET - In Development/venv311/Lib/site-packages/pip-24.0.dist-info/METADATA
/NET - In Development/venv311
/NET - In Development/labels
/NET - In Development/dataset
/myenv
/TIMBRE NET - In Developent/data
/TIMBRE NET - In Developent/dataset
/TIMBRE NET - In Developent/checkpoints
/TIMBRE NET - In Developent/checkpoints
/TIMBRE NET - In Developent/checkpoints
/TIMBRE NET - In Developent/checkpoints_resynth
/TIMBRE NET - In Developent/checkpoints
/TIMBRE NET - In Developent/data/.g2p_temporal_cache

audio/
*.json*
onsetnet

checkpoints_temporal/

/TIMBRE NET - In Developent/seed_prototype/generated_model_data.h
/TIMBRE NET - In Developent/seed_prototype/generated_tflm_model_data.h